#globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.fb_content {
    min-height: 640px;
    padding-bottom: 20px;
}
._95kb {
    padding-bottom: 132px;
    padding-top: 92px;
}
._8icx {
    padding-top: 82px; 
}
._95k9 {
    background: #f0f2f5;
    min-width: 500px;
}
._4bl7, ._4bl9 {
    word-wrap: break-word;
}
._ihf {
    overflow: visible;
    padding-right: 48px;
    position: relative;
    padding-right: 24px;
}
span{
    text-decoration: none;
}
._95kc._8icx ._8ice {
    padding: 8px 0 16px 0; 
}
.ilh {
    height: 70px;
    margin: -20px;
}
._ihd {
    font-size: 36px;
}
._6s {
    color: #333;
}
._8e63 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
}
._95kc ._8e4l {
    padding-bottom: 12px;
}
._45ks {
    display: flex;
    flex-wrap: wrap;
}
._63fz {
    flex: 0 0 33.3333%;
    margin: 0 0 20px 0;
}
._csi {
    width: 160px;
}
._1gbd {
    border-radius: 4px;
    box-shadow: 0 0 0 1px #dddfe2;
    display: block;
    transition: all .2s ease-out;
}
._1gax {
    align-items: center;
    background-color: #f5f6f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    height: 160px;
    justify-content: center;
    width: 160px;
}
._1gaz {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px !important;
}
._1ga- {
    white-space: normal;
}
._50f6 {
    font-size: 18px;
    line-height: 22px;
}
._5aj7 ._4bl9 {
    flex: 1 0 0px;
}
._9ji4 {
    float: right;
}
._8iep {
    height: 456px;
    width: 396px;
}
._8icy ._6luv {
    padding-bottom: 24px;
    padding-top: 10px;
}
._6luv {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}
._6lux {
    display: inline-block;
    font-size: 14px;
    margin: auto;
    padding: 6px 0;
    width: 302px;
}
._8icy ._6lux {
    font-size: 17px;
    width: 364px;
}
._8icy ._6lux ._6luy {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
}
._55r1 {
    background: #FFFFFF url(https://www.facebook.com/rsrc.php/v3/yO/r/YQNfPR9MJfx.png);
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
}
._8icy ._6lux ._6luy, ._9aha ._6lux ._6luy {
    border-radius: 6px;
}
._8icy ._6lux ._6luy {
    font-size: 17px;
    padding: 14px 16px;
    width: 364px;
}
._6ltg {
    padding-top: 6px;
}
._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}
._8icy ._6lth {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}
._8icy ._6ltj {
    margin-top: 16px;
}
._8icy ._8icz {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
._6ltg {
    padding-top: 6px;
}
._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}
._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}
._8icy ._6lti {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}
._4jy2 {
    background-color: #42b72a;
    border-color: #42b72a;
}
._4jy1, ._9w8q, ._4jy2 {
    color: #fff;
}
._9npi {
    background: none;
    border: 0;
    box-shadow: none;
    float: left;
    font-size: 17px;
    padding: 0;
    width: 300px;
}
._9ls7 {
    position: relative;
}
._52jv {
    text-align: center;
}
html ._55r1 {
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
img {
    border: 0;
}
._m-- {
    margin: auto;
    width: 980px;
}
._5aj7 {
    display: flex;
}
